.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.lista-suspensa select {
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.0);
    width: 100%;
    border: 0;
    font-size: 15px;
    padding: 24px;
    box-sizing: border-box;
}